@model EmployeeManager.Models.ViewModels.ManagerDetailVM

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
    </dl>
</div>
<hr />
<br />
<h4>List of employees</h4>
<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerId}, new {@class="btn btn-primary"})
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
