@model IEnumerable<EmployeeManager.Models.Manager>

@{
    ViewData["Title"] = "All Managers";
}

<h3>All Managers</h3>

<p>
    <a class="btn btn-success" asp-action="AddNewManagerForm" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ManagerId)</td>
                <td>@Html.DisplayFor(modelItem => item.RoomNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.ManagerId }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Details", "Details", new { id = item.ManagerId }, new { @class = "btn btn-dark" })</td>
                <td>@Html.ActionLink("Delete", "DeleteandConfirm", new { id = item.ManagerId }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
