@model IEnumerable<EmployeeManager.Models.Position>

@{
    ViewData["Title"] = "List of all positions";
}
<h3>List of all positions in the company:</h3>
<p>
    <a class="btn btn-success"asp-action="AddNewPositionForm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Position Id</th>
            <th scope="col">Position Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Details</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.PositionId</td>
            <td>@item.PositionName</td>
            <td><a class="btn btn-primary" asp-action="EditPosition"asp-route-positionId="@item.PositionId ">Edit</a></td>
            <td><a class="btn btn-dark" asp-action="DisplayPositionDetails" asp-route-positionId="@item.PositionId">Details</a></td>
            <td><a class="btn btn-danger"asp-action="DeleteAndConfirm" asp-route-positionId="@item.PositionId">Delete</a></td>
        </tr>
}
    </tbody>
</table>
