@model EmployeeManager.Models.ViewModels.ProjectEditVM

@{
    ViewData["Title"] = "Edit Project";
}

<h1>Edit Project</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProjectForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" readonly />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" asp-action="Update" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmployeeToProject" method="post">
            <div class="form-group">
                <label for="EmployeeId" class="control-label">Add Employee</label>
                <select class="form-control" name="EmployeeId" asp-items="ViewBag.Employees"></select>
                <input type="hidden" name="ProjectId" class="form-control" value="@Model.ProjectId" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Add" />
            </div>
        </form>
    </div>
</div>
<div>
    <h4> Employee Projects:</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">EmployeeId</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="auto">Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeId </td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td><a class="btn btn-danger" asp-controller="Project" asp-action="DeleteFromEmployee" asp-route-employeeId="@item.EmployeeId" asp-route-projectId="@Model.ProjectId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
